<!doctype html>
<html>
<head>
  <title>Traffic Sign</title>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/reactjs/react.js"></script>
  <script src="/js/reactjs/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
  <link rel="stylesheet" href="/css/application.css"/>
</head>
<body>
  <%= content %>
</body>
</html>
