<!doctype html>
<html>
<head>
  <title>Traffic Sign</title>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/reactjs/react.min.js"></script>
  <script src="/js/reactjs/react-dom.min.js"></script>
  <script src="/js/application.js"></script>
  <link rel="stylesheet" href="/css/application.css"/>
</head>
<body>
  <%= content %>
</body>
</html>
